.day, .dayEmpty {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background: none;
    border: none;
    height: 40px;
    width: 40px;
}

.daySelected {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background: none;
    border: none;
    height: 40px;
    width: 40px;
    background-color: red;
    border-radius: 50%;
}

.day:hover {
    background-color: cyan;
    border-radius: 50%;
    cursor: pointer;
}